/* Table des éléments */
/* Css Général */
/* Concerne le footer */
/* Définition des couleurs flatuicolors.com */
/* Définition des couleurs du jeu */
#liste_items {
  border-collapse: collapse;
  width: 75%;
  margin: 5% 12.5%;
  font-family: calibri;
  font-size: 120%;
}
#liste_items .liste_items_th,
#liste_items .liste_items_td {
  padding: 5px;
  border: 1px solid black;
}
#liste_items .liste_items_th {
  background-color: #2c3e50;
  color: #ecf0f1;
}
#liste_items .liste_items_td {
  background-color: #ecf0f1;
  color: #2c3e50;
}
#liste_items .liste_items_td div.name {
  float: left;
  margin: 0;
  padding: 0 0 0 5px;
  font-weight: bold;
}
#liste_items .liste_items_td div.tags {
  float: right;
  margin: 0;
  padding: 0 5px 0 0;
}
#liste_items .liste_items_td div.description {
  clear: both;
  margin: 0;
  padding: 0 0 0 5px;
  font-style: italic;
}
#liste_items .liste_items_td ul {
  list-style: none;
}
html,
body {
  background-color: #bdc3c7;
  margin: 0;
  padding: 0;
  height: 100%;
}
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -3em;
}
#push,
#footer {
  height: 3em;
  clear: both;
}
#footer {
  text-align: center;
  position: relative;
  bottom: 0px;
  line-height: 3em;
  width: 99%;
}
#footer span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.color-ressource {
  color: #27ae60;
}
.color-technologie {
  color: #2980b9;
}
.color-building {
  color: #2c3e50;
}
.color-event {
  color: #c0392b;
}
