/* Définition des couleurs flatuicolors.com */
/* Définition des couleurs du jeu */
.color-ressource {
  color: #27ae60;
}
.color-technologie {
  color: #2980b9;
}
.color-building {
  color: #2c3e50;
}
.color-event {
  color: #c0392b;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 avr. 2015, 23:11:56
    Author     : Flavio DEROO
*/
.panel {
  background-color: #ebe3c0;
  opacity: 0.9;
}
.test_panel {
  background-color: white;
}
.top-bar {
  background-color: #ebe3c0;
  width: 100%;
  height: 10em;
}
.avatar_panel {
  background-color: #ebe3c0;
  padding: 2% 0%;
  margin: 2% 0;
  height: 10em;
}
.ressources_panel {
  background-color: #ebe3c0;
  padding: 2% 0% 2% 4%;
  margin: 2% 0%;
  height: 10em;
}
.dashboard_panel {
  min-height: 30em;
  opacity: 0.9;
}
.main_panel {
  background-color: #ebe3c0;
  padding: 2% 4%;
  margin: 2% 0;
  min-height: 30em;
  opacity: 0.9;
}
.production_panel {
  background-color: #ebe3c0;
  padding: 2% 4%;
  margin: 2% 0;
  min-height: 30em;
  opacity: 0.9;
}
.hidden {
  display: none;
}
.avatar {
  margin-left: 40%;
  width: 120px;
  height: 120px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(../images/avatars/avatar.jpg) no-repeat;
}
/* Table des éléments */
#liste_items {
  border-collapse: collapse;
  width: 75%;
  margin: 5% 12.5%;
  font-family: calibri;
  font-size: 120%;
}
#liste_items .liste_items_th,
#liste_items .liste_items_td {
  padding: 5px;
  border: 1px solid black;
}
#liste_items .liste_items_th {
  background-color: #2c3e50;
  color: #ecf0f1;
}
#liste_items .liste_items_td {
  background-color: #ecf0f1;
  color: #2c3e50;
}
#liste_items .liste_items_td div.name {
  float: left;
  margin: 0;
  padding: 0 0 0 5px;
  font-weight: bold;
}
#liste_items .liste_items_td div.tags {
  float: right;
  margin: 0;
  padding: 0 5px 0 0;
}
#liste_items .liste_items_td div.description {
  clear: both;
  margin: 0;
  padding: 0 0 0 5px;
  font-style: italic;
}
#liste_items .liste_items_td ul {
  list-style: none;
}
/* Css Général */
html,
body {
  margin: 0;
  padding: 0;
  background: url(../images/bg/2.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  /* pour anciens Chrome et Safari */
  background-size: cover;
  /* version standardisée */
  height: 100%;
}
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -3em;
}
#push,
#footer {
  height: 3em;
  clear: both;
}
/* Concerne le footer */
#footer {
  text-align: center;
  position: relative;
  bottom: 0px;
  line-height: 3em;
  width: 99%;
}
#footer span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
/* style du bloc ul */
.menu-vertical {
  width: 100%;
  list-style: none;
  /* supprime les puces de liste */
  padding: 8% 4%;
  /* on fait un peu de place autour des liens */
  margin: 0;
  /* on annule les marges */
  text-align: center;
}
/* styles des liens et éléments de liste */
.mv-item,
.mv-item a {
  /* les liens et item deviennent des blocs */
  /* suffit théoriquement à virer les puces de liste */
  display: block;
}
/* styles des liens */
.mv-item a {
  margin: 0 0;
  /* espace les liens d'1 px */
  padding: 8% 16%;
  /* marges internes pour aérer */
  color: #666;
  background: #ebe3c0;
  text-decoration: none;
  /* on vire le soulignement */
  /* on définit la transition pour les navigateurs */
  -webkit-transition: all .3s;
  /* Chrome/Safari */
  -moz-transition: all .3s;
  /* Firefox (plus trop nécessaire) */
  transition: all .3s;
  /* syntaxe officielle */
}
/* styles changeants au survol et focus */
.mv-item a:hover,
.mv-item a:focus {
  background: #f6cf91;
  color: #502e28;
  padding-left: 30px;
  /* décalage du contenu de 10px vers la droite (30-20 = 10) */
}
/*# sourceMappingURL=styles.css.map */