/* Css Général */
html, body {
  margin:0;
  padding:0;
  background: url(../images/bg/2.jpg) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
  height:100%;
}
#wrapper{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -3em;
}

#push, #footer{
  height: 3em;
  clear: both;
}

/* Concerne le footer */
#footer{
  text-align: center;
  position: relative;
  bottom: 0px;
  line-height:3em;
  width:99%; //à 100% ça créer une barre de scroll horizontal

  span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;      
  }
}