/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 avr. 2015, 23:11:56
    Author     : Flavio DEROO
*/


.panel {
    background-color: @beige; 
    opacity: 0.9;
}

.test_panel {
    background-color: white;
}

.top-bar {
    background-color: @beige;
    width: 100%;
    height: 10em;
}

.avatar_panel{
    background-color: @beige;
    padding: 2% 0%;
    margin: 2% 0;
    height: 10em
}

.ressources_panel {
    background-color: @beige;
    padding: 2% 0% 2% 4%;
    margin: 2% 0%;
    height: 10em
}

.dashboard_panel {
    min-height: 30em;
    opacity: 0.9;
}
 
.main_panel {
    background-color: @beige;  
    padding: 2% 4%;
    margin: 2% 0;
    min-height: 30em;
    opacity: 0.9;
}

.production_panel {
    background-color: @beige; 
    padding: 2% 4%;
    margin: 2% 0;
    min-height: 30em;
    opacity: 0.9;
}

.hidden {
   display: none;
}

.avatar {
    margin-left: 40%;
    width: 120px;
    height: 120px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background: url(../images/avatars/avatar.jpg) no-repeat;
}